<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISSÕES NECESSÁRIAS -->
    <!-- 1. Receber as mudanças de bateria. Esta é uma Broadcast Protegida, mas é bom indicá-la. -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:name=".BatteryWidgetApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BatteryWidget"
        tools:targetApi="31">

        <!-- Atividade Principal (Manteremos como está) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 1. DECLARAÇÃO DO WIDGET PROVIDER (BatteryAppWidgetProvider) -->
        <receiver
            android:name=".widget.BatteryAppWidgetProvider"
            android:exported="false">
            <intent-filter>
                <!-- Ação padrão para todos os widgets (quando são adicionados/atualizados) -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- Nossa ação personalizada para forçar atualizações -->
                <action android:name="com.example.widget.batterywidget.ACTION_UPDATE_WIDGET" />
            </intent-filter>
            <!-- Metadados que apontam para o XML de configuração do widget -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/battery_app_widget_info" />
        </receiver>


        <!-- 2. DECLARAÇÃO DO BROADCAST RECEIVER (BatteryBroadcastReceiver) -->
        <!-- Este receiver é o que escuta as mudanças reais da bateria -->
        <receiver
            android:name=".util.BatteryBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <!-- O sistema de bateria envia esta intenção em qualquer mudança relevante -->
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>